<!doctype html>
<html lang="en">
  <head>
    <title>ZunkunftsTag 2023 Leon</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/fragebogen">Fragebogen</a></li>
        <li><a href="/tictactoe">TicTacToe</a></li>
        <li><a href="/scherensteinpapier">Schere Stein Papier</a></li>

      </ul>
    </nav>
    <main>
      <h1>Fragebogen</h1>
      <h3 class="frage">Welchen Beruf hast du ausgew&auml;hlt?</h3>
      <p>Software Engineer</p>
      <h3 class="frage">Was sind die Hauptaufgaben in diesem Beruf?</h3>
      <p>
        Zu meinen Aufgaben geh&ouml;ren:
        <ul>
          <li>Anforderungen abkl&auml;ren</li>
          <li>Software schreiben</li>
          <li>Software testen</li>
          <li>Lernende ausbilden</li>
        </ul>
      </p>
      <h3 class="frage">Arbeiten vorallem M&auml;nner oder Frauen in diesem Beruf?</h3>
      <p>Prim&auml;r M&auml;nner, aber Frauen k&ouml;nnen diesen Beruf genau so gut aus&uuml;ben.</p>
      <h3 class="frage">Welche St&auml;rken sollte man mitbringen?</h3>
      <p>Gute analytische F&auml;higkeiten (gute Mathematik-Leistungen), Geduld, Durchhaltewillen</p>
      <h3 class="frage">Welche Aussbildung brauche ich in diesem Beruf?</h3>
      <p>Eine Informatikerlehre mit Vertiefung in der Softwareentwicklung gen&uuml;gt reicht zum Start. Ein Studium ist aber von Vorteil.</p>
      <h3 class="frage">Wie sieht ein typisscher Arbeitstag aus?</h3>
      <p>
        Typisch ist schwierig. Grunds&auml;tzlich wird in Projekten gearbeitet und da geh&ouml;ren alle Aufgaben dazu.<br /> Ein gelungener Arbeitstag als
        Entwickler sollte aber m&ouml;glichst immer Software entwickeln dabei haben.
      </p>
      <h3 class="frage">Wie lange dauert die Ausbildung/Lehre?</h3>
      <p>
        Lehre: 4 Jahre<br />
         Studium: 3 Jahre Vollzeit / 4 Jahre berufsbegleitend
      </p>
      <h3 class="frage">Welches Schulfach ist besonders wichtig in dem Beruf?</h3>
      <p>Mathematik</p>
      <h3 class="frage">Wie viel verdiene ich ungef&auml;hr pro Monat/Jahr?</h3>
      <p>&gt; 100000Fr. / Jahr</p>
      <h3 class="frage">Gibt es einen bestimmten Dresscode?</h3>
      <p>Nein</p>
      <h3 class="frage">Was war mein Highlight des Tages?</h3>
      <p></p>
    </main>
  </body>

  <style is:global></style>

  <style>
    nav {
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      background-color: azure;
    }

    nav ul {
      list-style: none;
      margin: 0;
      padding: 10px;
    }

    a,
    a:visited {
      text-decoration: none;
      color: darkturquoise;
    }

    nav li {
      display: inline;
      padding: 20px;
    }

    body {
      background-color: rgb(15, 146, 113);
      font-family: Arial, Helvetica, sans-serif;
      color: darkturquoise;
      margin: 0;
    }

    main {
      padding: 0px 20px;
    }

    .frage {
      color: darkblue;
    }

    table {
      text-align: left;
    }

    td {
      padding: 0 20px;
    }

    main img {
      border-radius: 20px;
    }
  </style>
</html>
