---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Willkommen bei getAbstract.">
  <main>
    <h1>Willkommen bei getAbstract</h1>
    <p>
      Ich bin eine Seite definiert im Verzeichnis <code>src/pages</code> in deinem Projektordner<br />
      <strong>Erste kleine Aufgabe:</strong> Ersetze den Titel "Willkommen bei getAbstract" mit einem anderen Titel.
    </p>
    <h2>Tabelle</h2>
    <p>
      <strong>Zweite kleine Aufgabe:</strong> F&uuml;lle die Tabelle unten mit deinen Werten aus. F&uuml;ge noch zwei weitere Reihen hinzu (z.B. Wohnort,
      Lieblingstier, ...)
    </p>
    <table>
      <tbody>
        <tr>
          <th>Vorname</th>
          <td>Adi</td>
        </tr>
        <tr>
          <th>Nachname</th>
          <td>Buchmann</td>
        </tr>
        <tr>
          <th>Geburstag</th>
          <td>06.08.1986</td>
        </tr>
        <tr>
          <th>Hobbies</th>
          <td> Abwaschen, Aufr&auml;umen</td>
        </tr>
      </tbody>
      <tr>
        <th>Lieblingsessen</th>
        <td> Rosenkohl</td>
      </tr>
    </table>
  </main>
</Layout>
<h2>Ich bin ein Bild!</h2>
<img src="/programmer.jpg" />

<style></style>
